.snakemake/
logs/
tmp/
hg38_reference/
image/
bowtie2_index/
bowtie2_index_prebuild/
Archive/


*.bai
*.bam
*.fa
*.gz


*[]._larger_than_50MB
results/tracks/
*.bed
data/gencode.v47.basic.annotation.gtf
